/* Estilos globais e tipografia */
body {
  font-family: 'Arial', sans-serif;
  color: var(--color-neutral-900);
  background: var(--color-neutral-200);
  margin: 0;
}

h1, h2, h3 {
  color: var(--color-primary-dark);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-light);
}

img {
  border-radius: 8px;
}
